html {
  font-family: sans-serif;
}

/* Color each language element */
#aboutus {background-color: #DF4638;}
#mission {background-color: #8DAD53;}
#volunteer {background-color: #A8D3DD;}
#donate {background-color: #F7CC77;}
#stories {background-color: #2454DB;}
#aframe {background-color: #DB4260;}
#p5 {background-color: #E88A9F;}
#bootstrap {background-color: #7157AD;}
#java {background-color: #CA2B1D;}
#swift {background-color: #ED7B46;}

/* Style the .row elements */
.row {
  background-color: rgba(0,0,0,0.1);
  margin-right: 750px;
  min-height: 120px;
  min-width: 200px;
  max-width: 20px
}

/* Style the font of the .item elements */
.item {
  font-size: 32px;
  color: white;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  text-align: left;
  white-space: nowrap;
  padding: 10px 1px;
  min-width: 14px;
}

#about {
  color:red;
  font-size: 20px;
}
